<br><br><br>
<ion-header>
    <ion-toolbar>
      <ion-title>
        <b>MIS CITAS</b>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content [fullscreen]="true" color="white" class="ion-padding ion-text-center">


    <ion-card>
        <ion-title><b>MANTENIMIENTO</b></ion-title>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br><br>
        <div class="Gif">
            <img src="assets/img/mantenimiento.gif" alt="100% ">
        </div>
        
    </ion-card>
        <br><br><br>
    <ion-button  routerLink="/registroc" color="success" expand="block" shape="round">Registrar Cita</ion-button>
  


</ion-content>
