ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-img {
    max-width: 100%; /* Ajusta el ancho de la imagen según tus necesidades */
  }
  .spacer {
    flex: 200;
  }
}