<ion-content [fullscreen]="true" color="white" class="ion-padding ion-text-center">

  <br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-img src="./assets/img/logo.jpg" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <br><br><br><br><br><br><br>
  <div class="ion-margin-top">
    <ion-button [routerLink]="['/login']" color="success" expand="block" shape="round">Iniciar Sesion</ion-button>
    <br><br>
    <ion-button [routerLink]="['/registrop']" color="success" expand="block" shape="round">Registrarse</ion-button>
  </div>

</ion-content>
